/*확인버튼*/
.confirm-Btn {
  background-color: #19696a;
  color: #ffffff;

  padding: 0.5rem;
  width: 85%;
  position: absolute;

  margin-bottom: 2rem;
  font-size: 1.1rem;
}

/*오류 표시*/
.error-text {
  font-size: 1.2rem !important;
}

/*로그인 + 취소 */
.login-Btn {
  background-color: #19696a;
  color: #a7eff0;
  padding: 0.4rem;
  font-size: 1.1rem;
  width: 8rem;
}
.cancle-Btn {
  background-color: #eeeeee;
  padding: 0.4rem;
  font-size: 1.1rem;
  width: 8rem;
}

.login-act {
  margin: 0 !important;
}
.login-text {
  font-size: 1.2rem !important;
}

/*쪽지 보내기*/
.htmlContainer-msg {
  color: #19696a !important;
  font-weight: 700 !important;
  font-size: 1rem !important;

  margin: 0 !important;
  padding: 1rem !important;
  padding-left: 2rem !important;
  justify-content: flex-start !important;
}
.title-msg {
  background-color: #e9f3f2 !important;
  height: 3.5rem !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #19696a !important;
}
.closeButton-msg {
  color: #19696a !important;
  position: absolute !important;
  top: 1.4% !important;
}

.closeButton-msg:focus {
  box-shadow: none !important;
}

.input-msg {
  border: none !important;
  margin-top: 0 !important;
  font-size: 1rem !important;
}
.input-msg:focus {
  box-shadow: none !important;

  word-break: keep-all !important;
}

.confirm-msg {
  background-color: #19696a !important;
  color: #ffffff !important;
  font-size: 1rem !important;
  padding: 0.5rem 1rem !important;
  width: 15rem !important;
}

/*리워드 팝업*/
.image-reward {
  position: absolute !important;
  width: 50% !important;
  top: 35% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.htmlContainer-reward {
  height: 16rem !important;
  align-items: flex-end !important;
  font-size: 1.2rem !important;
  color: #002020 !important;
}

/*확인 + 취소 */
.okay-Btn {
  background-color: #19696a;
  color: #ffffff;
  padding: 0.4rem;
  font-size: 1.1rem;
  width: 8rem;
}

/*닉네임 인풋*/
.input-ncik {
  margin-bottom: 1rem !important;
  margin-top: 0 !important;
}

.input-ncik:focus {
  box-shadow: none !important;
}

.nick-text {
  margin: 0 !important;
}

/*------------------------전체 설정------------------------*/

/*알람 글 상자*/
.swal2-html-container {
  display: flex !important;
  align-items: center;
  margin: 2rem !important;
  white-space: pre-line;
}

/*전체 담는 박스*/
.swal2-container.swal2-center > .swal2-popup {
  width: 100%;
  max-width: 22rem;
  border-radius: 0;
}

/*백그라운드 어둡게*/
.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  max-width: 26rem;
  margin: auto;
}

/* 오류 메세지 */
.swal2-validation-message {
  background: none !important;
  color: #ba1a1a !important;
}
